@import url("./main.css");

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navbar styles */
nav {
  padding: 20px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: all .3s;
}

nav.scroll {
  background-color: #1a1a1a;
  backdrop-filter: blur(4px);
  border-radius: 0 0 20px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 65px;
}

.logo a {
  font-size: 28px;
  font-weight: 700;
  color: white;
  letter-spacing: 1%;
  cursor: pointer;
}

.menu a {
  color: white;
}

header {
  background-image: url("../assets/img/bg.webp");
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: white;
  font-size: 30px;
  padding: 160px 0;
  min-height: 1084px;
  position: relative;
}

header h1 {
  font-size: calc(30px + 3.5vw);
  text-align: center;
  font-weight: 700;
  letter-spacing: -1%;
}

header p {
  font-size: calc(10px + 1vw);
  max-width: 606px;
  margin: 14px auto;
  text-align: center;
  opacity: 0.8;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1px);
  padding: 8px;
  max-width: 344px;
  margin: 45px auto 25px;
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  font-size: 18px;
}

.search-box input::placeholder {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.search-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e58411;
  border: none;
  border-radius: 50%;
  padding: 11px;
  cursor: pointer;
}

.unions{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25.5px;
  position: absolute;
  left: 249px;
  width: 112px;
}

.union-radios{
  width: 100%;
  height: 56px;
  background-image: url("../assets/icons/Union.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.union-dot{
  width: 24px;
  height: 24px;
  border: solid 2px white;
  border-radius: 50%;
  transform: translateY(-3px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.union-dot:nth-child(1){
  background-color: #e58411;
}

.union-dot:nth-child(2){
  background-color: #00D6C9;
}

.union-dot:nth-child(3){
  background-color: #7C7C7C;
}

.union-circle{
  border: solid 1px white;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.15);
}

.inner-union-circle{
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}




